@import "styles.css";
@import "header.css";
@import "footer.css";


main {
    background-color: #121212;
    color:#FFFFFF;
    padding-bottom: 60px;
}

.content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 64px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
}

.page-title {
    grid-column: 1 / 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.page-title h1 {
    font-size: 56px;
    color: #ffffff;
    font-weight: 300;
}

.page-title .wallet {
    font-size: 20px;
    color: #727272;
    font-weight: 300;
}

.page-title .wallet b {
    color: #B8B8B8;
}

.left-col{
    grid-column: 1 / 5;
}

.right-col{
    grid-column: 5 / 7;
}

.cart-item {
    padding: 20px;
    background-color: #202020;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#FFFFFF;
    margin-bottom: 20px;
}

.cart-info .cover-art {
    height: 128px;
    margin-right: 20px;
}

.cart-info .cover-art img {
    height: 128px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.cart-info .name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.cart-info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.cart-info .game-name {
    font-size: 20px;
    margin-top: -3px;
}

.cart-info .game-price {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 5px;
}

.cart-info .game-price .discount-per {
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    border-radius: 5px;
    background: #df571d;
    font-size: 12px;
}

.cart-info .game-price .specific{
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.cart-info .game-price .new-price {
    font-size: 16px;
    font-style: normal;
    align-self: center;
    line-height: 100%; /* 32px */
}

.cart-info .game-price .footnote {
    color: #727272;
    font-size: 16px;
    font-style: normal;
    line-height: 100%;
}

.cart-item .actions {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-self: flex-end;
    color: #B8B8B8;
}

.cart-item .actions button {
    transition: 0.4s;
    background-color: transparent;
    border: none;
    padding: none;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: #727272;
    height: fit-content;
    letter-spacing: 0px;
}

.cart-item .actions button:hover{
    color: #ffffff;
    background-color: transparent;
}

.right-col {
    display: flex;
    flex-direction: column;
}

.left-col .title {
    font-size: 40px;
    margin-bottom: 20px;
}

.right-col .title {
    font-size: 40px;
    margin-bottom: 20px;
}

.right-col .price-info {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
}

.right-col .price-info p#darker {
    color: #B8B8B8;
    opacity: 1;
    font-size: 20px;
}

.price-info.subtotal {
    font-weight: 600;
    height: 80px;
}

.right-col .divider {
    margin-top: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
    background-color: #727272;
}

.left-col button{
    transition: 0.4s;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1.5px solid #B8B8B8;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    letter-spacing: 1px;
}

.left-col button:hover{
    background-color: #ffffff20;
}

.left-col button.action{
    margin-top: 40px;
    background: #df571d;
    border: 0px;
    padding-left: 64px;
    padding-right: 64px;
}

.left-col button.action:hover{
    background: #ffffff;
    color: #000000;
}

.message {
    grid-column: 1 / 7;
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: 20px;
}

.message img {
    align-self: center;
    width: 124px;
    filter: invert(47%) sepia(4%) saturate(19%) hue-rotate(21deg) brightness(94%) contrast(88%);
    margin-bottom: 30px;
}

.message {
    text-align: center;
}

.message a {
    color: #727272;
}

form .grouped {
    display: flex;
    flex-direction: row;
    gap: 20px
}

form .form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    margin-bottom: 10px;
}

form .form-input label {
    font-size: 16px;
    color:#B8B8B8;
    font-weight: 600;
}

form .form-input .star {
    font-size: 20px;
    color:#df571d;
}

form .form-input input {
    padding-left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: 1px solid #727272;
    height: 50px;
    border-radius: 10px;
    color:#ffffff;
}

form .form-input input:focus {
    outline: 1px solid #df571d;
}

form .form-input#cc-no {
    flex-grow: 4;
}
