@import "styles.css";

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 40px;
    padding: 50px 128px 100px;
    position: relative;
    background-color: #202020;
}
  
.footer .sites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
}
  
.footer .frame {
    display: flex;
    height: 50px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
}
  
.footer .social-media {
    display: flex;
    width: 173px;
    height: 50px;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-items: center;
}
  
.footer .text-wrapper {
    position: relative;
    width: 36px;
    height: 50px;
    margin-top: -1px;
    font-weight: 400;
    color: #d2d2d2;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 16px;
}
  
.footer .div {
    position: relative;
    width: 41px;
    height: 50px;
    margin-top: -1px;
    font-weight: 400;
    color: #d2d2d2;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 16px;
}
  
.footer .back-to-top {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    color: #d2d2d2;
    position: relative;
    flex: 0 0 auto;
}
  
  
.footer .back-to-top-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #d2d2d2;
    font-size: 16px;
    letter-spacing: 3.2px;
    line-height: normal;
    white-space: nowrap;
}
  
.footer .site-maps {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
}
  
.footer .flexcontainer {
    display: flex;
    flex-direction: column;
    width: 152px;
    align-items: flex-start;
    gap: 6px;
}
  
.footer .text-i {
    position: relative;
    align-self: stretch;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    line-height: normal;
}
  
.footer .span {
    font-weight: 700;
    color: #d2d2d280;
    letter-spacing: 2.4px;
}
  
.footer .text-wrapper {
    font-family: "Inter", Helvetica;
    color: #d2d2d2;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 300;
}
  
.footer .divider {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    margin-bottom: -0.5px;
    object-fit: cover;
    background-color: #727272;
}
  
.footer .other-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
  
.footer .copyright {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
  
.footer .span-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: transparent;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

  
.footer .text-wrapper-2 {
    color: #d2d2d2;
    font-size: 12px;
}
  
.footer .policies {
    position: relative;
    align-self: stretch;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: transparent;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .text-wrapper-3 {
    color: #d2d2d2;
    font-size: 16px;
}

.footer .text-wrapper-4 {
    color: #727272;
    font-size: 16px;
}
  
.footer .full-logo {
    position: relative;
    width: 200px;
    filter: brightness(1000%) opacity(50%);
}
