body {
  display: flex;
  justify-content: center;
  background-color: #121212;
  color: white;
}
.content {
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchSection {
  width: 70%;
  height: 80%;
  margin: 50px;
}
.searchSection input {
  height: 60px;
  width: 100%;
  font-size: 20px;
  display: flex;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.102);
}

.cart {
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.product-item {
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.968);
}
.product-item img {
  height: 70%;
  position: relative;
  top: 0;
  border-radius: 10px;
  width: 100%;
  padding-bottom: 15px;
}
.product-item button {
  background-color: rgb(230, 149, 0);
  width: 100%;
  height: 60px;
  visibility:hidden;
  position: relative;
  bottom: -10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.product-item:hover button {
  height: 60px;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

.product-item:hover img {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}
