<footer class="footer">
    <div class="sites">
      <div class="frame">
        <div class="social-media">
            <img src="../static/img/facebook.svg" alt="facebook icon" />
            <img src="../static/img/twitter.svg" alt="twitter icon" />
            <img src="../static/img/youtube.svg" alt="youtube icon" />
          </div>
        <div class="back-to-top">
          <span class="fa-solid fa-chevron-up"></span>
          <div class="back-to-top-2">BACK TO TOP</div>
        </div>
      </div>
      <div class="site-maps">
        <div class="flexcontainer">
          <p class="text-i">
            <span class="span">STORE<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper"><br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Overview<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">What’s New<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Browse the Catalog<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Newsroom</span></p>
        </div>
        <div class="flexcontainer">
          <p class="text-i">
            <span class="span">COMMUNITY<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper"><br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Forum Rules<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Discussions<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Workshops<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Market</span></p>
        </div>
        <div class="flexcontainer">
          <p class="text-i">
            <span class="span">SUPPORT<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper"><br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Installation Help<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Purchases<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">My Account<br /></span>
          </p>
          <p class="text-i"><span class="text-wrapper"></span></p>
        </div>
        <div class="flexcontainer">
          <p class="text-i">
            <span class="span">ABOUT US<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper"><br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Company<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Careers<br /></span>
          </p>
          <p class="text-i">
            <span class="text-wrapper">Distribution<br /></span>
          </p>
          <p class="text-i"><span class="text-wrapper"></span></p>
        </div>
      </div>
      <div class="divider"></div>
    </div>
    <div class="other-info">
      <div class="copyright">
        <p class="span-wrapper">
          <span class="text-wrapper-2"
            >© 2023, GameOn, Inc. All rights reserved. All trademarks are property of their respective owners in the
            US and other countries.<br
          /></span>
        </p>
        <p class="span-wrapper">
          <span class="text-wrapper-2"
            >VAT included in all prices where applicable. Other brands or product names are the trademarks of their
            respective owners.<br
          /></span>
        </p>
        <p class="span-wrapper">
          <span class="span-wrapper"><br /></span>
        </p>
        <p class="policies">
          <span class="text-wrapper-3">Terms of Service</span>
          <span class="text-wrapper-4"> | </span>
          <span class="text-wrapper-3">Privacy Policy</span>
          <span class="text-wrapper-4"> | </span>
          <span class="text-wrapper-3">Refund Policy</span>
        </p>
      </div>
      <img src="../static/img/full-logo.svg" class="full-logo"/>
    </div>
</footer>