<header class="header">
    <div class="nav">
      <a class="logo" href="{{ url_for('index') }}"><img class="full-logo" src="./static/img/full-logo.svg" /><img class="compact-logo" src="./static/img/compact-logo.svg" /></a>
      <div class="nav-text">
        <div class="text-wrapper">Store</div>
        <div class="text-wrapper">Community</div>
        <div class="text-wrapper">Support</div>
      </div>
    </div>
    <div class="user">
      <div class="nav-button">
          <a class="button searchbutton" href="{{ url_for('search') }}"><span class="fa-solid fa-search"></span></a>
          {% if session['logged_in'] %}
          <a class="button notibutton"><span class="fa-solid fa-bell"></span></a>
          <a class="button cartbutton" href="{{ url_for('view_cart') }}"><span class="fa-solid fa-shopping-basket"></span></a>
          <div class="avatar-holder">
            <img
              src="./static/img/default-avatar.jpg"
              alt="User Avatar"
              class="user-avatar"
            />
            <div class="user-status"></div>
          </div>
          <div class="fa-solid fa-chevron-down dropdown">
            <div class="dropdown-content">
              <a href="{{ url_for('view_wishlist') }}">Wishlist</a>
              <a href="#">My Dashboard</a>
              <a href="#">Settings</a>
              <a href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
          {% else %}
          <a class="button loginbutton" href="{{ url_for('login') }}">Login</span></a>
          {% endif %}
      </div>
    </div>
</header>