<header class="header">
    <div class="nav">
      <div class="logo"><img class="full-logo" src="./static/img/full-logo.svg" /></div>
      <div class="nav-text">
        <div class="text-wrapper">Store</div>
        <div class="text-wrapper">Community</div>
        <div class="text-wrapper">Support</div>
      </div>
    </div>
    <div class="user">
      <div class="nav-button">
          <label class="button searchbutton"><span class="fa-solid fa-search"></span></label>
          {% if session['logged_in'] or logged_in %}
          <label class="button notibutton"><span class="fa-solid fa-bell"></span></label>
          <label class="button cartbutton"><span class="fa-solid fa-shopping-basket"></span></label>
          <div class="avatar-holder">
            <img
              src="./static/img/default-avatar.jpg"
              alt="User Avatar"
              class="user-avatar"
            />
            <div class="user-status"></div>
          </div>
          <div class="fa-solid fa-chevron-down dropdown">
            <div class="dropdown-content">
              <a href="#">My Dashboard</a>
              <a href="#">Settings</a>
              <a href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
          {% else %}
          <a class="button loginbutton" href="{{ url_for('login') }}">Login</span></a>
          {% endif %}
      </div>
    </div>
</header>