<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="static/css/admin.css" />
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
  </head>
  <body>
    {% include '_header.html' %}
    <div class="admin-content">
      <div class="admin-panel">
        <div class="admin-holder">
          <div class="admin-avatar-holder">
            <img
              src="static/img/default-avatar.jpg"
              alt="Administrator Avatar"
              class="admin-avatar"
            />
            <div class="user-status"></div>
          </div>
          <div class="admin-info">
            <h3>Chim Sun Xoan</h3>
            <h5>Administrator</h5>
          </div>
        </div>
        <div class="admin-func-flexbox">
          <div class="admin-func">
            <div class="func func1">
              <span class="fa-light fa-grid-2 fa-lg"></span>
              <h4>Dashboard</h4>
            </div>
            <div class="func selected func2">
              <span class="fa-regular fa-user"></span>
              <h4>User</h4>
            </div>
            <div class="func func3">
              <span class="fa-regular fa-gamepad"></span>
              <h4>Games</h4>
            </div>
            <div class="func func4">
              <span class="fa-regular fa-tag fa-rotate-90"></span>
              <h4>Sale</h4>
            </div>
            <div class="func func5">
              <span class="fa-solid fa-signal"></span>
              <h4>Statistics</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="user-manager-panel">
        <h1>Manage User</h1>
        <div class="search-bar">
          <span class="fa-solid fa-search fa-xl"></span>
          <input
            type="text"
            placeholder="Search for User"
            class="search-input"
          />
        </div>
        <div class="user-search-flex">
          <div class="users-container">
            <div class="user-holder">
              <img
                src="static/img/default-avatar.jpg"
                class="user-avatar-img"
                alt="User Avatar"
              />
              <div class="user-info-holder">
                <div class="user-info">
                  <h5 class="user-country">Vietnam</h5>
                  <h2 class="username">Kim Jong Un</h2>
                  <div class="user-status">
                    <div class="user-online"></div>
                    <h6>Not currently online</h6>
                  </div>
                </div>
                <div class="user-stats">
                  <div class="icon-container">
                    <div class="fix-icon">
                      <i class="fa-regular fa-wrench fa-lg"></i>
                    </div>
                    <div class="delete-icon">
                      <i class="fa fa-times fa-xl" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="stats-container">
                    <div class="stats-flex">
                      <div class="total total-games">
                        <h5>Games</h5>
                        <h1>20</h1>
                      </div>
                      <div class="total total-badges">
                        <h5>Badges</h5>
                        <h1>12</h1>
                      </div>
                      <div class="total total-friends">
                        <h5>Friends</h5>
                        <h1>17</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-holder">
              <img
                src="static/img/default-avatar.jpg"
                class="user-avatar-img"
                alt="User Avatar"
              />
              <div class="user-info-holder">
                <div class="user-info">
                  <h5 class="user-country">Vietnam</h5>
                  <h2 class="username">Kim Jong Un</h2>
                  <div class="user-status">
                    <div class="user-online"></div>
                    <h6>Not currently online</h6>
                  </div>
                </div>
                <div class="user-stats">
                  <div class="icon-container">
                    <div class="fix-icon">
                      <i class="fa-regular fa-wrench fa-lg"></i>
                    </div>
                    <div class="delete-icon">
                      <i class="fa fa-times fa-xl" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="stats-container">
                    <div class="stats-flex">
                      <div class="total total-games">
                        <h5>Games</h5>
                        <h1>20</h1>
                      </div>
                      <div class="total total-badges">
                        <h5>Badges</h5>
                        <h1>12</h1>
                      </div>
                      <div class="total total-friends">
                        <h5>Friends</h5>
                        <h1>17</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-holder">
              <img
                src="static/img/default-avatar.jpg"
                class="user-avatar-img"
                alt="User Avatar"
              />
              <div class="user-info-holder">
                <div class="user-info">
                  <h5 class="user-country">Vietnam</h5>
                  <h2 class="username">Kim Jong Un</h2>
                  <div class="user-status">
                    <div class="user-online"></div>
                    <h6>Not currently online</h6>
                  </div>
                </div>
                <div class="user-stats">
                  <div class="icon-container">
                    <div class="fix-icon">
                      <i class="fa-regular fa-wrench fa-lg"></i>
                    </div>
                    <div class="delete-icon">
                      <i class="fa fa-times fa-xl" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="stats-container">
                    <div class="stats-flex">
                      <div class="total total-games">
                        <h5>Games</h5>
                        <h1>20</h1>
                      </div>
                      <div class="total total-badges">
                        <h5>Badges</h5>
                        <h1>12</h1>
                      </div>
                      <div class="total total-friends">
                        <h5>Friends</h5>
                        <h1>17</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-holder">
              <img
                src="static/img/default-avatar.jpg"
                class="user-avatar-img"
                alt="User Avatar"
              />
              <div class="user-info-holder">
                <div class="user-info">
                  <h5 class="user-country">Vietnam</h5>
                  <h2 class="username">Kim Jong Un</h2>
                  <div class="user-status">
                    <div class="user-online"></div>
                    <h6>Not currently online</h6>
                  </div>
                </div>
                <div class="user-stats">
                  <div class="icon-container">
                    <div class="fix-icon">
                      <i class="fa-regular fa-wrench fa-lg"></i>
                    </div>
                    <div class="delete-icon">
                      <i class="fa fa-times fa-xl" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="stats-container">
                    <div class="stats-flex">
                      <div class="total total-games">
                        <h5>Games</h5>
                        <h1>20</h1>
                      </div>
                      <div class="total total-badges">
                        <h5>Badges</h5>
                        <h1>12</h1>
                      </div>
                      <div class="total total-friends">
                        <h5>Friends</h5>
                        <h1>17</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '_footer.html' %}
  </body>
</html>
