<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel | GameHub</title>
    <link rel="stylesheet" href="static/css/admin.css" />
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
  </head>
  <body>
    {% include '_header.html' %}
    <main>
      <div class="admin-content">
        <div class="admin-panel">
          <div class="admin-holder">
            <div class="admin-avatar-holder">
              <img
                src="static/img/default-avatar.jpg"
                alt="Administrator Avatar"
                class="admin-avatar"
              />
              <div class="user-status"></div>
            </div>
            <div class="admin-info">
              <h3>Quan Ta</h3>
              <h5>Administrator</h5>
            </div>
          </div>
          <div class="divider"></div>
          <div class="admin-func-flexbox">
            <div class="admin-func">
              <div class="func func1">
                <span class="fa-regular fa-grid-2"></span>
                <h4>Dashboard</h4>
              </div>
              <div class="func selected func2">
                <span class="fa-regular fa-user"></span>
                <h4>User</h4>
              </div>
              <div class="func func3">
                <span class="fa-regular fa-gamepad"></span>
                <h4>Games</h4>
              </div>
              <div class="func func4">
                <span class="fa-regular fa-tag fa-rotate-90"></span>
                <h4>Sale</h4>
              </div>
              <div class="func func5">
                <span class="fa-solid fa-signal"></span>
                <h4>Statistics</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="user-manager-panel">
          <h1>Manage User</h1>
          <div class="search-bar">
            <span class="fa-solid fa-search fa-xl"></span>
            <form method="POST" action="/searchUser">
              <input
                type="text"
                placeholder="Enter username"
                class="search-input"
                name="SearchUser"
              />
            </form>
          </div>
          <div class="user-search-flex">
            <div class="users-container">
              {% if not delete_success %} {% for user in table %}
              <div class="user-holder">
                <img
                  src="static/img/default-avatar.jpg"
                  class="user-avatar-img"
                  alt="User Avatar"
                />
                <div class="user-grid-holder">
                  <div class="user-info">
                    <h5 class="user-country">Vietnam</h5>
                    <h2 class="username">{{ user[1] }}</h2>
                    <div class="user-status">
                      <div class="user-online"></div>
                      <h6>Not currently online</h6>
                    </div>
                  </div>
                  <div class="user-stats">
                    <div class="icon-container">
                      <div class="fix-icon">
                        <i class="fa-regular fa-wrench fa-lg"></i>
                      </div>
                      <div class="delete-icon">
                        <i class="fa fa-times fa-xl" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="stats-container">
                      <div class="stats-flex">
                        <div class="total total-games">
                          <h5>Games</h5>
                          <h1>{{ user[4] }}</h1>
                        </div>
                        <div class="total total-badges">
                          <h5>Badges</h5>
                          <h1>{{ user[5] }}</h1>
                        </div>
                        <div class="total total-friends">
                          <h5>Friends</h5>
                          <h1>{{ user[6] }}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="delete-user-confirm popup-hidden">
                <div class="popup">
                  <div class="content">
                    <h4>
                      Do you sure you want to delete<br />user "{{ user[1] }}"?
                    </h4>
                    <div class="button-holder">
                      <form method="POST" action="/deleteUser">
                        <input
                          type="hidden"
                          id="user-id-input"
                          name="user_id"
                          value="{{ user[0] }}"
                        />
                        <button class="delete-button button">Delete</button>
                      </form>
                      <button class="cancel-button button">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %} {% if delete_success %}
              <div class="remove-user-successful-popup">
                <div class="remove-successful">
                  <div class="flex-container">
                    <img
                      src="static/img/full-logo-vertical.svg"
                      alt="GameHub logo"
                    />
                    <h2>Delete User Successful!</h2>
                  </div>
                </div>
                <script>
                  setTimeout(function () {
                    window.location.href = "/admin";
                  }, 2700); // Redirect to admin page after 2.7 second delay
                </script>
              </div>
              {% endif %}
              <script src="static/js/admin.js"></script>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include '_footer.html' %}
  </body>
</html>
