<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="stylesheet" href="./static/css/signIn.css" />
  </head>
  <body>
    <main>
      <img
        src="./static/img/Background.png"
        alt="Mountain background image"
        class="background-img"
      />
      <div class="sign-in-section">
        <img
          src="./static/img/full-logo-vertical.svg"
          alt="GameHub logo"
          class="logo"
        />
        <h3 class="title">Sign up</h3>
        <div class="user-input-section">
          <input
            type="text"
            class="user-input username"
            placeholder="Username"
          />
          <br />
          <input
            type="text"
            class="user-input email"
            placeholder="Email Adress"
          />
          <br />
          <input
            type="password"
            class="user-input password"
            placeholder="Password"
          />
        </div>
        <button class="continue">Continue</button>
        <hr />
      </div>
    </main>
  </body>
</html>
