<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/Home.css">
</head>


<body>
    <div class="carousel">
        <button class="carousel-button" onclick="previousSlide()">&#8249;</button>
        {% for product in table %}
        {% if loop.index <= 4 %} <div class="carousel-item"
            style="background-image:url('{{product[11]}}'); background-repeat: no-repeat; ">
            <div class="carousel-indicator">
                <div class="flexing">
                    <form action="/cart/add" method="POST">
                        <input type=" hidden" name="product_id" value="{{ product[0] }}" style="display: none;">
                    </form>
                    <h3>Available Now</h3>
                    <h2>{{ product[0] }}</h2>
                    <h3>{{product[7]}}</h3>
                </div>
                <div class="flexing2">
                    <img src="{{product[12]}}" alt="{{product[12]}}">
                    <img src="{{product[13]}}" alt="{{product[13]}}">
                    <img src="{{product[14]}}" alt="{{product[14]}}">
                </div>
            </div>
    </div>
    {% endif %}
    {% endfor %}
    <button class="carousel-button" onclick="nextSlide()">&#8250;</button>
    </div>
    <div class="content">
        <table class="special-offers">
            <h1>Special Offers</h1>
            <div class="product-grid">
                {% for product in table %}
                {% if loop.index <= 6 %} <div class="product-item" style="background-image:url('{{product[11]}}')">
            </div>
            <div class="product-item-ex" style="background-image:url('{{product[11]}}')">
                <div class="indicator">
                    <div class="indicator-detailed">
                        <h2>{{ product[0] }}</h2>
                        <div class="flexing">
                            <form action="/cart/add" method="POST">
                                <input type=" hidden" name="product_id" value="{{ product[0] }}" style="display: none;">
                                <input type="hidden" name="quantity" value="1" min="1">
                                <button type="submit">Add to Cart</button>
                            </form>
                            <h3>{{product[7]}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </table>
        <h1>Recommendation</h1>
        <div class="gameshower">
            {% for product in table %}
            <div class="product-item-vertical">
                <img src="{{product[11]}}" alt="{{product[11]}}">
                <div class="flexing">
                    <h2>{{ product[0] }}</h2>
                </div>
                <div class="flexing2">
                    <h3>{{product[7]}}</h3>
                </div>
                <form action="/cart/add" method="POST">
                    <input type=" hidden" name="product_id" value="{{ product[0] }}" style="display: none;">

                </form>
            </div>
            {% endfor %}
            </p>
        </div>
    </div>
</body>
<script>
    const items = document.getElementsByClassName("product-item");
    const itemBigger = document.getElementsByClassName("product-item-ex");

    for (let i = 0; i < items.length; i++) {
        items[i].addEventListener("click", () => {
            itemBigger[i].classList.add("active");
            items[i].classList.add("un-active");
        });
    }

    for (let i = 0; i < itemBigger.length; i++) {
        itemBigger[i].addEventListener("click", () => {
            itemBigger[i].classList.remove("active");
            items[i].classList.remove("un-active");
        });
    }


    var slideIndex = 0;
    showSlide(slideIndex);

    function previousSlide() {
        showSlide(slideIndex -= 1);
    }

    function nextSlide() {
        showSlide(slideIndex += 1);
    }

    function showSlide(index) {
        var slides = document.getElementsByClassName("carousel-item");
        var buttons = document.getElementsByClassName("carousel-button");

        if (index >= slides.length) {
            slideIndex = 0;
        }

        if (index < 0) {
            slideIndex = slides.length - 1;
        }

        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex].style.display = "block";
    }

</script>