<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
</head>
<body>
  {% include '_header.html' %}
    <div class="carousel">
        {% for product in table %}
        {% if loop.index <= 4 %}
        <div class="carousel-item">
            <img class="your-image-class" src="{{ product[2] }}" alt="Product Image">
            <div class="carousel-info-container">
                <div class="carousel-indicator"></div>
                <div class="carousel-nav">
                    <button class="carousel-button left" onclick="previousSlide()">&#8249;</button>
                    <button class="carousel-button right" onclick="nextSlide()">&#8250;</button>
                </div>
                <div class="carousel-indicator">
                    <div class="flexing">
                        <form action="/cart/add" method="POST">
                            <input type=" hidden" name="product_id" value="{{ product[1] }}" style="display: none;">
                        </form>
                        <h4>Available Now</h4>
                        <h2>{{ product[1] }}</h2>
                        <div class="price-container">
                            {% if product[10] != 0 %}
                            <div class="discount-per">-{{ "{:.0%}".format(product[10]) }}</div>
                            {% endif %}
                              {% if product[11] != None %}
                                <div class="old-price">{{ "{:,.0f}đ".format(product[11]) }}</div>
                              {% endif %}
                              {% if product[12] != 0 %}
                                <div class="new-price">{{ "{:,.0f}đ".format(product[12]) }}</div>
                              {% else %}
                                <div class="new-price">Free</div>
                              {% endif %}
                        </div>
                    </div>
                    <div class="flexing2">
                        <img src="{{product[7]}}" alt="{{product[12]}}">
                        <img src="{{product[8]}}" alt="{{product[13]}}">
                        <img src="{{product[9]}}" alt="{{product[14]}}">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="content">
        <h1>Special Offers</h1>
        <div class="product-grid special-offer">
            {% for product in table if product[10] != 0 %}
            <a class="product-item offer-product" href="{{ url_for('product_page', GameID=product[0]) }}">
                <img src="{{ product[2] }}">
                <h2>{{ product[1] }}</h2>
                <div class="supported-os">
                    {% if 'Windows' in product[17] %}
                    <div id="supported-os-win"><i class="fa-brands fa-microsoft"></i></div>
                    {% endif %}
                    {% if 'macOS' in product[17] %}
                    <div id="supported-os-mac"><i class="fa-brands fa-apple"></i></div>
                    {% endif %}
                    {% if 'Linux' in product[17] %}
                    <div id="supported-os-linux"><i class="fa-brands fa-linux"></i></div>
                    {% endif %}
                </div>
                <div class="price-container">
                    {% if product[10] != 0 %}
                    <div class="discount-per">-{{ "{:.0%}".format(product[10]) }}</div>
                    {% endif %}
                    {% if product[11] != None %}
                        <div class="old-price">{{ "{:,.0f}đ".format(product[11]) }}</div>
                    {% endif %}
                    {% if product[12] != 0 %}
                        <div class="new-price">{{ "{:,.0f}đ".format(product[12]) }}</div>
                    {% else %}
                        <div class="new-price">Free</div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
        <h1>Recommendation</h1>
        <div class="product-grid recommend">
            {% for product in table %}
            <a class="product-item" href="{{ url_for('product_page', GameID=product[0]) }}">
                <img src="{{ product[2] }}">
                <h2>{{ product[1] }}</h2>
                <div class="supported-os">
                    {% if 'Windows' in product[17] %}
                        <div id="supported-os-win"><i class="fa-brands fa-microsoft"></i></div>
                    {% endif %}
                    {% if 'macOS' in product[17] %}
                        <div id="supported-os-mac"><i class="fa-brands fa-apple"></i></div>
                    {% endif %}
                    {% if 'Linux' in product[17] %}
                        <div id="supported-os-linux"><i class="fa-brands fa-linux"></i></div>
                    {% endif %}
                </div>
                <div class="price-container">
                    {% if product[10] != 0 %}
                    <div class="discount-per">-{{ "{:.0%}".format(product[10]) }}</div>
                    {% endif %}
                        {% if product[11] != None %}
                        <div class="old-price">{{ "{:,.0f}đ".format(product[11]) }}</div>
                        {% endif %}
                        {% if product[12] != 0 %}
                        <div class="new-price">{{ "{:,.0f}đ".format(product[12]) }}</div>
                        {% else %}
                        <div class="new-price">Free to Play</div>
                        {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
  {% include '_footer.html' %}
</body>
<script>

    var slideIndex = 0;
    showSlide(slideIndex);

    function previousSlide() {
        showSlide(slideIndex -= 1);
    }

    function nextSlide() {
        showSlide(slideIndex += 1);
    }

    function showSlide(index) {
        var slides = document.getElementsByClassName("carousel-item");
        var buttons = document.getElementsByClassName("carousel-button");

        if (index >= slides.length) {
            slideIndex = 0;
        }

        if (index < 0) {
            slideIndex = slides.length - 1;
        }

        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex].style.display = "block";
    }

    const carousel = document.querySelector('.product-grid.special-offer');
    const games = document.querySelectorAll('.product-item.offer-product');
    let isDragStart = false;

    function preventNav(event){
        event.preventDefault();
    }

    const dragStart = (e) => {
        isDragStart = true;
        prevPageX = e.pageX;
        prevScrollLeft = carousel.scrollLeft;
    }
    const dragging = (e) => {
        games.forEach((game) => {
            game.addEventListener("mousedown", preventNav);
        })
        if (!isDragStart) return;
        e.preventDefault();
        let posDiff = e.pageX - prevPageX;
        carousel.scrollLeft = prevScrollLeft - posDiff;
    }
    const dragStop = () => {
        isDragStart = false;
        games.forEach((game) => {
            game.removeEventListener("click", preventNav);
        })
    }
    setTimeout(dragStop, 100);
    carousel.addEventListener("mousedown", dragStart);
    carousel.addEventListener("mousemove", dragging);
    carousel.addEventListener("mouseup", dragStop);
</script>
