<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link-rel="stylesheet" href="{{ url_for('static', filename='css/style_cart.css')}}">
  </head>
  <body>
    <h1>Orders</h1>
    <table class="cart">
      <tr>
        <th>Order</th>
      </tr>
      {% for order in orders %}
      <tr>
        <td><a href="/orders/{{ order[0] }}">{{ order[0] }} - {{ order[10] }}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>