<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link-rel="stylesheet" href="{{ url_for('static', filename='css/style_cart.css')}}">
  </head>
  <body>
    <h1>Order Details - Order ID: {{ order[0] }}</h1>
    <p>Status: {{ order[10] }}</p>
    <h2>Order Items</h2>
    <table class = "cart">
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      {% for item in order_details %}
      <tr>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>