<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{game_title}} | GameHub</title>
    <link rel="stylesheet" href="./static/css/product-page.css" />
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./static/scripts/splide-4.1.3/dist/css/themes/splide-white.min.css">
    <script type="text/javascript" src="./static/scripts/splide-4.1.3/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.8.0/dist/css/splide-extension-video.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.8.0/dist/js/splide-extension-video.min.js"></script>
    <script>
      // Use Flask's Jinja2 templating to insert the GameID from Flask
      const GameID = {{ GameID }};
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    {% if message != None %}
    <div id="message" class="message-notice">{{message}}</div>
    {% endif %}
    {% include '_header.html' %}
    <main class="screen">
      <p class="directory">
        <span class="directory-text">All Games</span>
        <span class="directory-text-2">></span>
        <span class="directory-text">{{ genre }} Games</span>
        <span class="directory-text-2">></span>
        <span class="directory-text">{{ publisher }}</span>
        <span class="directory-text-2">></span>
        <span class="directory-text">{{ game_title }}</span>
      </p>
      <div class="content">
        <!--Left column-->
        <div class="left-col">
          <section id="main-slider" class="splide" aria-label="Screenshots">
            <div class="splide__track">
              <ul class="splide__list">
                {% if trailer %}
                <li class="splide__slide" data-splide-youtube="{{ trailer }}"><img src="{{ trailer_thumb }}" alt=""/></li>
                {% endif %}
                <li class="splide__slide"><img src="{{ thumbnail_1 }}" alt=""/></li>
                <li class="splide__slide"><img src="{{ thumbnail_2 }}" alt=""/></li>
                <li class="splide__slide"><img src="{{ thumbnail_3 }}" alt=""/></li>
                <li class="splide__slide"><img src="{{ thumbnail_4 }}" alt=""/></li>
              </ul>
            </div>
          </section>
          <ul id="thumbnails" class="thumbnails">
            {% if trailer %}
            <li class="thumbnail" data-splide-youtube="{{ trailer }}"><img src="{{ trailer_thumb }}" alt=""/></li>
            {% endif %}
            <li class="thumbnail"><img src="{{ thumbnail_1 }}" alt="" /></li>
            <li class="thumbnail"><img src="{{ thumbnail_2 }}" alt="" /></li>
            <li class="thumbnail"><img src="{{ thumbnail_3 }}" alt="" /></li>
            <li class="thumbnail"><img src="{{ thumbnail_4 }}" alt="" /></li>
          </ul>
          <script>
            var splide = new Splide("#main-slider", {
              perPage: 1,
              width: '100%',
              heightRatio: 0.5625,
              pagination: false,
              cover: true,
              type: 'fade',
            }).mount( window.splide.Extensions );

            var thumbnails = document.getElementsByClassName("thumbnail");
            var current;
      
            for (var i = 0; i < thumbnails.length; i++) {
              initThumbnail(thumbnails[i], i);
            }
      
            function initThumbnail(thumbnail, index) {
              thumbnail.addEventListener("click", function () {
                splide.go(index);
              });
            }
      
            splide.on("mounted move", function () {
              var thumbnail = thumbnails[splide.index];
      
              if (thumbnail) {
                if (current) {
                  current.classList.remove("is-active");
                }
      
                thumbnail.classList.add("is-active");
                current = thumbnail;
              }
            });

            splide.mount();
          </script>
          <section id="game-description" class="description">
            <div id="game-desc-placeholder"></div>
          </section>
          <div class="divider"></div>
          <section id="update-logs" class="description">
            <div class="section-title">What’s New?</div>
            <div id="update-logs-placeholder"></div>
          </section>
          <section id="specifications" class="description">
            <div class="section-title">Specifications</div>
            <div class="systab">
              <button class="tablinks" onclick="osTab(event, 'Windows')" id="defaultOpen"><div id="supported-os-win">Windows</div></button>
              <button class="tablinks" onclick="osTab(event, 'macOS')"><div id="supported-os-mac">macOS</div></button>
              <button class="tablinks" onclick="osTab(event, 'Linux')"><div id="supported-os-linux">Linux</div></button>
            </div>
            <div id="Windows" class="specs">
              <div class="sysreq">
                <div id="Minimum" class="syscolumn">
                  <div class="title">Minimum</div>
                  <div class="title"><div class="64-bit-required">Requires a 64-bit processor and operating system</div></div>
                  <div class="title">OS<div id="MinOSWin"></div></div>
                  <div class="title">Processor<div id="MinProcessorWin"></div></div>
                  <div class="title">Memory<div id="MinMemoryWin"></div></div>
                  <div class="title">Storage<div id="MinStorageWin"></div></div>
                  <div class="title">DirectX<div id="MinDirectXWin"></div></div>
                  <div class="title">Graphics<div id="MinGraphicsWin"></div></div>
                  <div class="title">Network<div id="MinNetworkWin"></div></div>
                  <div class="title">Additional Notes<div id="MinNotesWin"></div></div>
                </div>
                <div id="Recommended" class="syscolumn">
                  <div class="title">Recommended</div>
                  <div class="title"><div class="64-bit-required">Requires a 64-bit processor and operating system</div></div>
                  <div class="title">OS<div id="RecOSWin"></div></div>
                  <div class="title">Processor<div id="RecProcessorWin"></div></div>
                  <div class="title">Memory<div id="RecMemoryWin"></div></div>
                  <div class="title">Storage<div id="RecStorageWin"></div></div>
                  <div class="title">DirectX<div id="RecDirectXWin"></div></div>
                  <div class="title">Graphics<div id="RecGraphicsWin"></div></div>
                  <div class="title">Network<div id="RecNetworkWin"></div></div>
                  <div class="title">Additional Notes<div id="RecNotesWin"></div></div>
                </div>
              </div>
            </div>
            <div id="macOS" class="specs">
              <div class="sysreq">
                <div id="Minimum" class="syscolumn">
                  <div class="title">Minimum</div>
                  <div class="title">OS<div id="MinOSMac"></div></div>
                  <div class="title">Processor<div id="MinProcessorMac"></div></div>
                  <div class="title">Memory<div id="MinMemoryMac"></div></div>
                  <div class="title">Storage<div id="MinStorageMac"></div></div>
                  <div class="title">Graphics<div id="MinGraphicsMac"></div></div>
                  <div class="title">Network<div id="MinNetworkMac"></div></div>
                  <div class="title">Additional Notes<div id="MinNotesMac"></div></div>
                </div>
                <div id="Recommended" class="syscolumn">
                  <div class="title">Recommended</div>
                  <div class="title">OS<div id="RecOSMac"></div></div>
                  <div class="title">Processor<div id="RecProcessorMac"></div></div>
                  <div class="title">Memory<div id="RecMemoryMac"></div></div>
                  <div class="title">Storage<div id="RecStorageMac"></div></div>
                  <div class="title">Graphics<div id="RecGraphicsMac"></div></div>
                  <div class="title">Network<div id="RecNetworkMac"></div></div>
                  <div class="title">Additional Notes<div id="RecNotesMac"></div></div>
                </div>
              </div>
            </div>
            <div id="Linux" class="specs">
              <div class="sysreq">
                <div id="Minimum" class="syscolumn">
                  <div class="title">Minimum</div>
                  <div class="title">OS<div id="MinOSLinux"></div></div>
                  <div class="title">Processor<div id="MinProcessorLinux"></div></div>
                  <div class="title">Memory<div id="MinMemoryLinux"></div></div>
                  <div class="title">Storage<div id="MinStorageLinux"></div></div>
                  <div class="title">Graphics<div id="MinGraphicsLinux"></div></div>
                  <div class="title">Network<div id="MinNetworkLinux"></div></div>
                  <div class="title">Additional Notes<div id="MinNotesLinux"></div></div>
                </div>
                <div id="Recommended" class="syscolumn">
                  <div class="title">Recommended</div>
                  <div class="title">OS<div id="RecOSLinux"></div></div>
                  <div class="title">Processor<div id="RecProcessorLinux"></div></div>
                  <div class="title">Memory<div id="RecMemoryLinux"></div></div>
                  <div class="title">Storage<div id="RecStorageLinux"></div></div>
                  <div class="title">Graphics<div id="RecGraphicsLinux"></div></div>
                  <div class="title">Network<div id="RecNetworkLinux"></div></div>
                  <div class="title">Additional Notes<div id="RecNotesLinux"></div></div>
                </div>
              </div>
            </div>
            <script>
            function osTab(evt, osName) {
              var i, specs, tablinks;
              specs = document.getElementsByClassName("specs");
              for (i = 0; i < specs.length; i++) {
                specs[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(osName).style.display = "block";
              evt.currentTarget.className += " active";
            }
            
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>
            <div class="otherspecs title">Language Supported
              <p>Audio: <span id="audio-placeholder" class="inline"></span></p>
              <p>Text: <span id="text-placeholder" class="inline"></span></p>
            </div>
            <div class="otherspecs divider"></div>
            <div class="otherspecs title copyright"><div id="copyright-placeholder"></div><p>Privacy Policy</p></div>
          </section>
          <section id="recommendations" class="description">
            <div class="section-title">More like this</div>
            <div class="recommendation">
              <div class="thumbnail"><img src="https://source.unsplash.com/random/1000x1000?sig=1" alt="" /></div>
              <div class="thumbnail"><img src="https://source.unsplash.com/random/1000x1000?sig=2" alt="" /></div>
              <div class="thumbnail"><img src="https://source.unsplash.com/random/1000x1000?sig=3" alt="" /></div>
              <div class="thumbnail"><img src="https://source.unsplash.com/random/1000x1000?sig=4" alt="" /></div>
              <div class="thumbnail"><img src="https://source.unsplash.com/random/1000x1000?sig=5" alt="" /></div>
            </div>
          </section>
          <!--This is game review section-->
          <section class="description">
            <div class="section-title">Reviews</div>
            <div class="review">
              <div class="overall-rating">
                <div class="rating_stars">
                  <div class="rating"><div id="score-placeholder"></div></div>
                    <div class="stars"><div class="rating-container"></div></div>
                </div>
                <div class="overall-review">
                  <div class="title">OVERALL REVIEW</div>
                  <div class="status">
                    <div class="div"><div class="overall-review-placeholder"></div></div>
                    <div class="count">(696,969 reviews)</div>
                  </div>
                </div>
              </div>
              <div class="critics-review">
                <div class="title">CRITICS REVIEWS</div>
                <div class="reviews">
                  <div class="container">
                    <div class="review-info">
                      <div class="source">Game Informer</div>
                      <div class="author">by Daniel Tack</div>
                    </div>
                    <div class="divider"></div>
                    <div class="score">
                      9.3 / 10
                      <p>
                        “This is an amazing smorgasbord of exploration, discovery, combat, and customization worthy of your
                        attention – despite the presence of a predatory monetization model”
                      </p>
                    </div>
                    <div class="full-review">
                      <div class="read-full-review">READ FULL REVIEW</div><i class="fa-regular fa-arrow-up-right-from-square"></i>
                    </div>
                  </div>
                  <div class="container">
                    <div class="review-info">
                      <div class="source">Game Informer</div>
                      <div class="author">by Daniel Tack</div>
                    </div>
                    <div class="divider"></div>
                    <div class="score">
                      9.3 / 10
                      <p>
                        “This is an amazing smorgasbord of exploration, discovery, combat, and customization worthy of your
                        attention – despite the presence of a predatory monetization model”
                      </p>
                    </div>
                    <div class="full-review">
                      <div class="read-full-review">READ FULL REVIEW</div><i class="fa-regular fa-arrow-up-right-from-square"></i>
                    </div>
                  </div>
                  <div class="container">
                    <div class="review-info">
                      <div class="source">Game Informer</div>
                      <div class="author">by Daniel Tack</div>
                    </div>
                    <div class="divider"></div>
                    <div class="score">
                      9.3 / 10
                      <p>
                        “This is an amazing smorgasbord of exploration, discovery, combat, and customization worthy of your
                        attention – despite the presence of a predatory monetization model”
                      </p>
                    </div>
                    <div class="full-review">
                      <div class="read-full-review">READ FULL REVIEW</div><i class="fa-regular fa-arrow-up-right-from-square"></i>
                    </div>
                  </div>
                </div>
                <div class="title">Reviews provided by OpenCritic</div>
              </div>
          </section>
        </div>
        
        <!--Right column-->
        <div class="right-col">
          <div class="game-cover"><img src=" {{ cover_art }} " alt="" /></div>
          <div class="game-info">
            <div class="game-name"><div id="game-title-placeholder"></div></div>
            <div class="rating">
              <div class="rating-container"></div>
              <div class="overall-rating"><div class="overall-review-placeholder"></div></div>
            </div>
            <div class="price" id="price-container">
              <div class="discount-per" id="discount-per-container"></div>
              <div class="specific">
                <div class="old-price"></div>
                <div class="new-price"></div>
                <div class="footnote"></div>
              </div>
            </div>
          </div>
          <div id="actions" class="game-info">
            <div class="buttons-container">
              <form id="purchase-form" action="{{ url_for('buy') }}" method="POST">
                <input type="hidden" name="game_id" value="{{ GameID }}">
                <input type="hidden" name="game_title" value="{{ game_title }}">
                <input type="hidden" name="old_price" value="{{ old_price }}">
                <input type="hidden" name="discount_per" value="{{ discount }}">
                <input type="hidden" name="new_price" value="{{ new_price }}">
                <input type="hidden" name="supported_os" value="{{ supported_os }}">
                <input type="hidden" name="game_cover" value="{{ cover_art }}">
                <input type="hidden" name="in_app" value="{{ in_app }}">
                <button id="get-download" type="submit" class="action">
                  {% if new_price == 0 %}
                    DOWNLOAD
                  {% else %}
                    BUY
                  {% endif %}
                </button>
              </form>
              <form id="add-to-cart-form" action="{{ url_for('add_to_cart') }}" method="POST">
                <input type="hidden" name="game_id" value="{{ GameID }}">
                <input type="hidden" name="game_title" value="{{ game_title }}">
                <input type="hidden" name="old_price" value="{{ old_price }}">
                <input type="hidden" name="discount_per" value="{{ discount }}">
                <input type="hidden" name="new_price" value="{{ new_price }}">
                <input type="hidden" name="supported_os" value="{{ supported_os }}">
                <input type="hidden" name="game_cover" value="{{ cover_art }}">
                <input type="hidden" name="in_app" value="{{ in_app }}">
                <button id="add-to-cart" type="submit">ADD TO CART</button>
              </form>
              <form id="add-to-cart-form" action="{{ url_for('add_to_wishlist') }}" method="POST">
                <input type="hidden" name="game_id" value="{{ GameID }}">
                <input type="hidden" name="game_title" value="{{ game_title }}">
                <input type="hidden" name="old_price" value="{{ old_price }}">
                <input type="hidden" name="discount_per" value="{{ discount }}">
                <input type="hidden" name="new_price" value="{{ new_price }}">
                <input type="hidden" name="supported_os" value="{{ supported_os }}">
                <input type="hidden" name="game_cover" value="{{ cover_art }}">
                <input type="hidden" name="in_app" value="{{ in_app }}">
                <button id="add-wishlist"><i class="fa-light fa-circle-plus" style="margin: 10px;"></i>ADD TO WISHLIST</button>
              </form>
            </div>
          </div>
          <!--
          <div id="dlc" class="game-info">
            <div class="dlc">
              <p>Downloadable Contents</p>
              <div class="dlc-container">
                <div class="dlc-name">Genshin Impact DLC</div>
                <div class="dlc-price">$59.99</div>
                <button>ADD TO CART</button>
              </div>
            </div>
          </div>
          -->
          <div id="publisher" class="game-info">
            <div class="publisher">
              <div class="publisher-info">Developer<p id="developer-placeholder"></p></div>
              <div class="publisher-info">Publisher<p id="publisher-placeholder"></p></div>
              <div class="publisher-info">Release Date<p id="release-date-placeholder"></p></div>
              <div class="publisher-info">Platform<h6 id="supported-os">
                <div id="supported-os-win"><i class="fa-brands fa-microsoft"></i></div>
                <div id="supported-os-mac"><i class="fa-brands fa-apple"></i></div>
                <div id="supported-os-linux"><i class="fa-brands fa-linux"></i></div>
              </h6></div>
            </div>
          </div>
          <div id="tags" class="game-info">
            <div id="tagsContainer" class="tags"></div>
          </div>
          <div id="esrb" class="game-info">
            <div id="esrbContainer" class="esrb"></div>
          </div>
          <div id="features" class="game-info">
            <div class="features">
              <p>Features</p>
              <div class="feature-tabs">
                <div id="Singleplayer" class="tab"><i class="fa-solid fa-user"></i>Singleplayer</div>
                <div id="Multiplayer" class="tab"><i class="fa-solid fa-users"></i>Online Multiplayer</div>
                <div id="Online Co-Op" class="tab"><i class="fa-solid fa-user-group-simple"></i>Online Co-Op</div>
                <div id="Online PvP" class="tab"><i class="fa-duotone fa-user-group"></i>Online PvP</div>
                <div id="Controller" class="tab"><i class="fa-solid fa-gamepad-modern"></i>Controller Support</div>
                <div id="Online Saves" class="tab"><i class="fa-solid fa-cloud"></i>Online Saves</div>
                <div id="Achievements" class="tab"><i class="fa-solid fa-trophy"></i>Achievements</div>
                <div class="notice"><div id="feature-notice-placeholder"></div></div>
              </div>
            </div>
          </div>
          <div id="actions" class="game-info">
            <div class="actions">
              <button><i class="fa-solid fa-flag"></i>REPORT</button>
              <button><i class="fa-solid fa-share-nodes"></i></i>SHARE</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="./static/scripts/scripts.js"></script>
    {% include '_footer.html' %}
  </body>
</html>
