<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="stylesheet" href="./static/css/product-page.css" />
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
  </head>
  <body>
    {% include '_header.html' %}
    <main>
      <p class="directory">
        <span class="directory-text">All Games</span>
        <span class="directory-text-2">></span>
        <span class="directory-text">Adventure Games</span>
        <span class="directory-text-2">></span>
        <span class="directory-text">Cognosphere LTD.</span>
        <span class="directory-text-2">></span>
        <span class="directory-text">Ghenshin Impact</span>
      </p>
      <div class="content">
        <div class="left-col"></div>
      </div>
    </main>
    {% include '_footer.html' %}
  </body>
</html>
