<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/search.css">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
    <meta charset="UTF-8">
</head>
<body>
    {% include '_header.html' %}
    <main class="content">
        <div class="left-col">
            <div class="page-title">
                <h1>Filters</p></h1>
            </div>
                <div class="searchSection">
                    <div class="searchbytext">
                        <form method="POST" action="{{ url_for('searchData') }}">
                            <input type="text" name="searchInput" placeholder="Enter your search term" value="{{ search_text }}">
                            <button type="submit" value="Search" style="display: none;">Search</button>
                        </form>
                    </div>
                    <div class="filterbygenre">
                        <form method="POST" action="/filter">
                            <div class="field"> <input type="checkbox" name="filter" value="FPS">
                                <span>FPS</span>
                            </div>
                            <div class="field"> <input type="checkbox" name="filter" value="Adventure">
                                <span>Adventure</span>
                            </div>
                            <div class="field"> <input type="checkbox" name="filter" value="Horror">
                                <span>Horror</span>
                            </div>
                            <div class="field"> <input type="checkbox" name="filter" value="Survival">
                                <span>Survival</span>
                            </div>
                            <div class="field"> <input type="checkbox" name="filter" value="PvP">
                                <span>PvP</span>
                            </div>
                            <div class="field"> <input type="checkbox" name="filter" value="Multiplayer">
                                <span>Multiplayer</span>
                            </div>
                            <button type="submit" value="Filter">Filter</button>
                        </form>
                    </div>
                </div>
        </div>
        <div class="right-col">
            <table class="cart">
                <div class="product-grid">
                    {% for product in table %}
                    <a class="product-item" href="{{ url_for('product_page', GameID=product[0]) }}">
                        <img src="{{ product[2] }}">
                        <h2>{{ product[1] }}</h2>
                        <div class="supported-os">
                            {% if 'Windows' in product[17] %}
                              <div id="supported-os-win"><i class="fa-brands fa-microsoft"></i></div>
                            {% endif %}
                            {% if 'macOS' in product[17] %}
                              <div id="supported-os-mac"><i class="fa-brands fa-apple"></i></div>
                            {% endif %}
                            {% if 'Linux' in product[17] %}
                              <div id="supported-os-linux"><i class="fa-brands fa-linux"></i></div>
                            {% endif %}
                        </div>
                        <div class="price-container">
                            {% if product[10] != 0 %}
                            <div class="discount-per">-{{ "{:.0%}".format(product[10]) }}</div>
                            {% endif %}
                              {% if product[11] != None %}
                                <div class="old-price">{{ "{:,.0f}đ".format(product[11]) }}</div>
                              {% endif %}
                              {% if product[12] != 0 %}
                                <div class="new-price">{{ "{:,.0f}đ".format(product[12]) }}</div>
                              {% else %}
                                <div class="new-price">Free</div>
                              {% endif %}
                        </div>
                    </a>
                    {% endfor %}
            </table>
            {% if search_text and output_message %}
            <p id="msg">{{ output_message }}</p>
            {% endif %}
            </p>
        </div>
    </main>
</body>

</html>