<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="static/css/Search.css">
<meta charset="UTF-8">

<head>

</head>

<body>
    <div class="content">
        <div class="searchSection">
            <!-- <form method="POST" action="/viewcart">
                <button type="submit">View Cart</button> -->
            </form>
            <form method="POST" action="/searchData">
                <input type="text" name="searchInput" placeholder="Enter your search term">
                <!-- <button type="submit">Search</button> -->
            </form>
            <!-- <p>
            {% if search_text %}
            You searched for: {{ search_text }} -->
        </div>
        <!-- <form method="POST" action="/filter">
            <input type="checkbox" name="filter" value="8GB"> 8GB<br>
            <input type="checkbox" name="filter" value="4GB"> 4G<br>
            <input type="checkbox" name="filter" value="16GB"> 16GB<br>
            <input type="submit" value="Filter">
        </form> -->

        <table class="cart">
            <!-- <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr> -->
            <div class="product-grid">
                {% for product in table %}
                <div class="product-item">
                    <!-- <td>{{ product[0] }}</td> -->
                    <!-- <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td> -->
                    <img src="{{product[11]}}" alt="{{product[11]}}">
                    <h2>{{ product[0] }}</h2>
                    <h3>{{product[7]}}</h3>
                    <!-- <td>{{ product[6] }}</td> -->

                    <form action="/cart/add" method="POST">
                        <input type="hidden" name="product_id" value="{{ product[0] }}">
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>
                {% endfor %}
        </table>
        {% if search_text and output_message %}
        <p>{{ output_message }}</p>
    {% endif %}
        {% endif %}
        </p>
    </div>
    <!-- <div class='fillter'>
        <div class="byPrice">
            <div class="range-slider">
                <input class="range-slider__range" type="range" value="250" min="0" max="500" step="50">
                <span class="range-slider__value">0</span>
            </div>
        </div>
        <div class="byGenre"></div>
        <div class="byLanguage"></div>
    </div> -->
</body>

</html>