<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wishlist | GameHub</title>
    <link rel="stylesheet" href="./static/css/cart.css" />
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
    <script>
      // Use Flask's Jinja2 templating to insert the GameID from Flask
      const GameID = {{ GameID }};
      // Check if the flash message exists and is not empty
      var flashMessage = "{{ get_flashed_messages() }}";
      if (flashMessage.trim() !== "[]") {
        // Display the flash message as an alert
        alert(flashMessage);
      }
    </script>
  </head>
  <body>
    {% if message != None %}
    <div id="message" class="message-notice">{{message}}</div>
    {% endif %}
    {% include '_header.html' %}
    <main class="screen">
      <div class="content">
        {% if wishlist %}
        <div class="page-title">
          <h1>Your Wishlist</h1>
          <div class="wallet">
            Your current wallet: <b>0đ</b>
            <i class="fa-light fa-circle-plus"></i>
          </div>
        </div>
        <!--Left column-->
        <div class="left-col">
          {% for item in wishlist %}
          <div class="cart-item">
            <div class="cover-art"><img src="{{ item.game_cover }}" alt=""></div>
            <div class="cart-info">
              <div class="name-price">
                <div class="game-name">
                  <div id="game-title-placeholder">{{ item.title }}</div>
                  <div class="supported-os">
                    {% if 'Windows' in item.supported_os %}
                      <div id="supported-os-win"><i class="fa-brands fa-microsoft"></i></div>
                    {% endif %}
                    {% if 'macOS' in item.supported_os %}
                      <div id="supported-os-mac"><i class="fa-brands fa-apple"></i></div>
                    {% endif %}
                    {% if 'Linux' in item.supported_os %}
                      <div id="supported-os-linux"><i class="fa-brands fa-linux"></i></div>
                    {% endif %}
                  </div>
                </div>
                <div class="game-price">
                  {% if item.discount_per != 0 %}
                  <div class="discount-per">-{{ "{:.0%}".format(item.discount_per) }}</div>
                  {% endif %}
                  <div class="specific">
                    {% if item.old_price != None %}
                      <div class="old-price">{{ "{:,.0f}đ".format(item.old_price) }}</div>
                    {% endif %}
                    {% if item.new_price != 0 %}
                      <div class="new-price">{{ "{:,.0f}đ".format(item.new_price) }}</div>
                    {% else %}
                      <div class="new-price">Free</div>
                    {% endif %}
                  </div>
                  {% if item.in_app == 'Yes' %}
                    <div class="footnote">Includes in-app purchases</div>
                  {% endif %}
                </div>
              </div>
              <div class="actions">
                <form action="{{ url_for('move_to_cart') }}" method="post">
                  <input type="hidden" name="game_id" value="{{item.id}}">
                  <input type="hidden" name="game_title" value="{{ item.title }}">
                  <button id="add-wishlist">Move to Cart</button>
                </form>
                <button id="gift">Gift</button>
                <form action="{{ url_for('remove_from_wishlist') }}" method="post">
                  <input type="hidden" name="game_id" value="{{item.id}}">
                  <input type="hidden" name="game_title" value="{{ item.title }}">
                  <button id="remove">Remove</button>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="message">
        <!-- Display a message when the cart is empty -->
        <img src="./static/img/empty-cart.svg" alt="">
        <p>Your wishlist is currently empty. <br><a href="{{ url_for('index') }}">Go shopping here!</a></p>
        </div>
      {% endif %}
    </main>
    {% include '_footer.html' %}
  </body>
</html>
